// Estilos para el tema light
.disqus-section {
  background-color: #fffff0;
  padding: 10px;
  
  margin-top: 50px;

  // Estilos adicionales específicos del tema light
}




.disqus {
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0;
  }
